@import "util/util";
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@charset "UTF-8";

$bg: #3d3e44;

body {
  background-color: $bg;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h16v2h-6v6h6v8H8v-6H2v6H0V0zm4 4h2v2H4V4zm8 8h2v2h-2v-2zm-8 0h2v2H4v-2zm8-8h2v2h-2V4z' fill='%23ffffff' fill-opacity='0.02' fill-rule='evenodd'/%3E%3C/svg%3E");
}
html, body, #page {
    font-family: Lato, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#page {
  text-align: center;
}

#wrapper {
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  @include breakpoint(xlarge up) {
    width: 1054px;
  }
  @include breakpoint(small down) {
    width: 100%;
  }
}

#logo {
  padding-top: rem-calc(20);
  margin-bottom: rem-calc(120);
  width: 200px;
}

#hello {
  text-align: left;
}

h1 {
  color: #fff;
  font-size: em-calc(64);
  text-transform: uppercase;
}

h2 {
  color: #b3b9c7;
  font-family: Open Sans, sans-serif;
  font-size: em-calc(24);
}

.logo {
  width: 100%;
}

.btn {
  background: #f79736;
  border: 1px solid #e08832;
  border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: Lato, sans-serif;
	font-size: em-calc(24);
	padding: rem-calc(12 32);
	margin-top: 15px;
	font-weight: bold;
	-webkit-transition: background-color 150ms ease-in-out, box-shadow 300ms ease-in-out;
	transition: background-color 150ms ease-in-out, box-shadow 300ms ease-in-out;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
}

/* Button 1a */
.btn:hover,
.btn:active {
	color: #fff;
	background-color: #e08832;
  box-shadow: 0 1px 2px 0 rgba(37,22,8,0.25);
}
